.no-page-found {
  &__container {
    text-align: center;
    margin-top: 10px;
    min-height: calc(100vh - 60px);
  }

  &__image {
    max-width: 400px;
    height: auto;
  }

  &__title {
    font-size: 36px;
    margin-top: 30px;
    padding: 1rem;
  }

  &__message {
    font-size: 20px;
    margin-top: 20px;
    padding: 1rem;
  }

  @media (max-width: 576px) {
    min-height: calc(100vh - 60px);
    &__image {
      margin-top: 3rem;
      max-width: 250px;
      height: auto;
    }
  }
}
